@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
  --primary: #23adad;
  --greyLight: #23adade1;
  --greyLight-2: #cbe0dd;
  --greyDark: #2d4848;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html{
  padding: 0px;
  margin: 0px;
 
}

body{
  padding: inherit;
  margin: inherit;
  font-family: montserrat, arial, verdana;
 
}

a {
  text-decoration: none;
}


/* LANDING PAGE */


#landing-page{
  display:flex;
  align-items: center;
  background-image: url('./sources/landing-page.jpg');
  background-color: #282c34;
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#welcome-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70vh;
  height: 30vh;
  background: rgba(255, 255, 255, .2);
  border-radius: 10px;
  margin-left: 15vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome-container h1{
  text-shadow: 5px 5px 10px black;
  margin: 10px 0px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 70px;
}

#landing-button{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 10px;
  border-radius: 2px;
  padding: 10px;
  background-color: #9a7007;
  font-size: 25px;
  transition: 150ms;
}

#landing-button:hover{
  background-color: #ba8707;
}
/* GENERAL UTILITIES */
.flex-main-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.flex-center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 30px 10px;
}

.flex-inline{
  display:flex;
}

/* HEADER */


#header{
  display: flex;
  background-color: #282c34;
  width: 100%; 
  height: 10vh;
  overflow: hidden;
  margin-bottom: 20px;
}

#header h1{
  display:inline;
  text-shadow: 5px 5px 10px black;
  margin: 10px 0px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 30pt;
}

/*  NAV BAR */
#logo{
  display:flex;
  align-items: center;
  justify-content:center;
  flex: 50%;
}
.nav{
  display:flex;
  flex: 50%;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  font-size: 16px;

}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0 15px;
}
.nav li {
  width: 33.3%;
  border-bottom: 1px solid #888;
  font-size: 16px!important;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
  }
}

/* FILTERS CSS */

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Montserrat';
}
select::-ms-expand {
  display: none;
}
.select {
  margin: 0 10px;
  position: relative;
  display: flex;
  width: 175px;
  height: 35px;
  line-height: 35px;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}

/* SEARCHBAR */
.searchbar-container{
display:flex;
justify-content: center;
align-items: center;
/* background: white; */
/* border: 0 none; */
border-radius: 3px;
box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
padding: 10px;
/* position: relative; */
margin:10px;
font-size: 13px;
}
.searchbar-container form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbar-container input{
  height:35px;
  font-size: 1em;
  font-family: 'Montserrat';
}

.searchbar-container input[type=submit]{
	/* background: #27AE60; */
  /* background: #005f5f; */
  background: #2b2e2e;
	font-weight: bold;
	color: white;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 10px;
	margin: 0px;
  margin-left: -2px;
  transition: .3s;
}
.searchbar-container input[type=submit]:hover{
  background: #23b499;

}

.searchbar-container button{
  height: 35px;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #5c6664;
    background-image: none;
    flex: 1 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Montserrat';
    transition: .3s;

}
.searchbar-container button:hover{
  background: #23b499;
}

/* CARDS */

.cards-container{
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  display: flex;
  padding: 165px 12px 12px 12px;
  width: 290px;
  height: 270px;
  background-color: #333;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, .5);
  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
  position: relative;
  overflow: hidden;
  text-align: center;
  flex-direction: column;

}

.card-image{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
  transition: transform .75s;
}

.card:hover .card-image{
  transform: scale(1.15);
}

.card-title{
  margin:0px;
  position: relative;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);

}

.card-info-temps{
  margin:0px;
  position: relative;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);

}
.card-info-weight{
  margin:0px;
  position: relative;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);

}

/* PAGINADOOOO */

.paginado-container{
  background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
	padding: 5px;
	box-sizing: border-box;
	position: relative;
  margin:10px 5px -10px 5px;
}
.paginado{
  list-style-type: none;
}
.paginas{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  margin: 2px;
  border-radius: 0.6rem;
  background: #fff;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}
.numeros-pagina, .boton-pagina, .puntos-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  cursor: pointer;
}
.boton-pagina{
  color: var(--greyLight);
  pointer-events: none;
}
.boton-pagina.active{
  color: var(--greyDark);
  pointer-events: initial;
}
.boton-pagina:hover{
  color: var(--primary);
}
.numeros-pagina{
  font-size: 10pt;
  width: 30px;
	height: 30px;
	border-radius: 3px;
}
.numeros-pagina:hover{
  color: var(--primary);
  
}
.numeros-pagina.active {
  color: #fff;
  background: var(--primary);
  font-weight: 600;
  border: 1px solid var(--primary);
}
.puntos-pagina{
  width: 2.6rem;
  height: 2.6rem;
  color: var(--greyLight);
  cursor: initial;  
}
/* FORM  --------------------------------------------------------------------------------->*/

/*form styles*/

.form-error{
  margin: -5px 0px 7px 0px;
  color: red;
  font-size: 12px;
}

.msform {
	width: 600px;
  max-width: 600px;
	margin: auto;
	text-align: center;
	position: relative;
}
.labelfortemp{
  margin: 5px 0px -5px 0px;
}
.msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}
.msform input, .msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
.half {
  width: 48.2% !important;
}
.temp-input {
  width: 90% !important;
}
.temp-button{
  width: 9%;
  height: 47px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 10px;
	margin: 0px;
}
.temp-button:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.temps-to-post{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(229, 226, 226);
  border-radius: 3px; */
}
.temp-tag{
  background-color: lightgrey;
  border-radius: 3px;
  font-weight: normal;
	font-size: 13px;
	color: #666;
	margin: 5px;
  padding: 5px;
}
.delete-temp{
  cursor: pointer;
  font-weight: bold;
  width:100%;
  margin: 0px 0px 0px 8px;
  padding: 0px;
}
.delete-temp:hover{
  color:#b3000f;
}
.back-button{
  width: 100px;
	background: #b3000f;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin-top: -10px;
}
.back-button:hover, .back-button:focus{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #b3000f;
}

.msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.details{
  display:flex;
  flex-direction: column;
  align-items: center;
  background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}
.details img{
  width: 100%;
  border-radius: 3px;
}

.details td {
  padding: 5px 5px 5px 5px;
}

/* ///LOADING */

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #ffffff; /*use your base color*/
}
.loader::before {
  content: '';  
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(43, 43, 43);
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.loader::after {
  content: '';  
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(43, 43, 43);
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}  