@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
  padding: 0px;
  margin: 0px;
}

body{
  padding: inherit;
  margin: inherit;
}

a {
  text-decoration: none;
}


/* LANDING PAGE */


#landing-page{
  display:flex;
  align-items: center;
  background-image: url('./sources/landing-page.jpg');
  background-color: #282c34;
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#welcome-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70vh;
  height: 30vh;
  background: rgba(255, 255, 255, .2);
  border-radius: 10px;
  margin-left: 15vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome-container h1{
  text-shadow: 5px 5px 10px black;
  margin: 10px 0px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 70px;
}

#landing-button{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 10px;
  border-radius: 2px;
  padding: 10px;
  background-color: #9a7007;
  font-size: 25px;
  transition: 150ms;
}

#landing-button:hover{
  background-color: #ba8707;
}

/* HEADER */


#header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: 100%; 
  height: 80px;
  overflow: hidden;
}

#header h1{
  display:inline;
  text-shadow: 5px 5px 10px black;
  margin: 10px 0px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 50px;
}
#paw{
  height: 60px;
  margin: 0px;
  margin-left: -20px;
  filter: invert(100%) drop-shadow(5px 5px 10px black);;
}